<div class="container">

  <h1 class="page-header">GitHub【<%= MY_APP['github']['org'] %>】 ISSUE VIEWER</h1>

  <%
    cookie_hash = JSON.parse(cookies[:non_disp_repos]) if cookies[:non_disp_repos].present?
    cookie_mention = cookies[:mentioned] if cookies[:mentioned].present?
    cookie_creator = cookies[:creator] if cookies[:creator].present?
  %>

  <div class="row">
    <div class="col-sm-8">

    <% if @member_list.present? %>
      <form class="form-inline">
        <select class="form-control" id="creator">
          <option value="">作成者で絞り込む</option>
          <% @member_list.each do |member| %>
            <option value="<%= member['login'] %>" <% if cookie_creator.present? && cookie_creator == member['login'] %> selected<% end %>><%= member['login'] %></option>
          <% end %>
        </select>

        <select class="form-control" id="mentioned">
          <option value="">@メンションで絞り込む</option>
          <% @member_list.each do |member| %>
            <option value="<%= member['login'] %>" <% if cookie_mention.present? && cookie_mention == member['login'] %> selected<% end %>><%= member['login'] %></option>
          <% end %>
        </select>
      </form>
    <% end %>

    <% @repo_list.each do |repo| %>
      <div id="main_area_<%= repo["name"] %>" <% if cookie_hash.present? && cookie_hash.include?(repo["name"]) %> style="display:none"<% end %>>
        <h2 id="repo_area_<%= repo["name"] %>"><a href="<%= repo["html_url"] %>" target="_blank"><%= repo["name"] %></a></h2>
        <p><%= repo["description"] %></p>
        <p class="updated">Updated : <%= Time.parse(repo["pushed_at"]).getlocal.strftime("%Y/%m/%d %H:%M:%S") %></p>
        <div id="issues_area_<%= repo["name"] %>">
          <img class="loading_area img-responsive center-block" src=<%= asset_path "ajax-loader.gif" %> />
        </div>
      </div>
    <% end %>
    </div>

    <div class="col-sm-3 col-sm-offset-1">
      <div class="sidebar-module">
        <h4>Repository List</h4>
        <ol class="list-unstyled">
        <% @repo_list.each do |repo| %>
          <li>
            <ul style="padding-left: 0;">
            <li style="display:inline">
              <input type="checkbox" class="disp_repo_check" data-repo="<%= repo["name"] %>"<% if cookie_hash.blank? || !cookie_hash.include?(repo["name"]) %> checked="checked"<% end %>>
            </li>
            <li style="display:inline" id="side_repo_name_<%= repo["name"] %>"><a href="#repo_area_<%= repo["name"] %>"><%= repo["name"] %></a></li>
            </ul>
          </li>
        <% end %>
        </ol>

        <span class="glyphicon glyphicon-ok"></span><a href="javascript:void(0);" id="all_repo_check"><strong>all check</strong></a>
        <p class="small">絞込条件はクッキーに保存されます</p>
      </div>
    </div><!-- /.blog-sidebar -->
  </div><!-- /.row -->
</div><!-- /.container -->
